<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="descretion" content=" affordable and professional web Deising">
    <meta name="keyword" content=" web Deising, affordable, professional web Deising">
    <meta name="outhor" content="gir kb">
 <title>GKweb Deising |about us</title>
    <link rel="stylesheet" href="../styles/contact.css";
</head>
<body>
    <header>
       <div class="container">
           <div id="branding">
           <h1><span class="highlight">CONTACT</span>US</h1>

       </div>
       <nav>
           <ul><li><a href="home.html">Home</a></li>
            <li class="current"> <a href="About.html">ABOUT</a></li>
            <li> <a href="members.html">MEMBERS</a></li>
            <li> <a href="resgister.html">REGISTER</a></li>
            <li> <a href="contact.html"> CONTAC</a></li>
            
           </ul>
       </nav>
   </header> 
 </section>
 <div class="box">
        <input type="text" placeholder="your first name*">
        <input type="text" placeholder="your last name*">
        <input type="text" placeholder="your Email*">
        <input type="text" placeholder="your phone Number*">
        <button class="btn" type="submit">submit</button>
   </div>
 </section>

     <footer>
         <p>GK web Deising, Copyrite &copy;2019</p>
     </footer>
</section>

</body>
</html>
   <footer>
           <p>GK web Deising, Copyrite &copy;2017 </p>
       </footer>
   </section>
</body>
</html>  