<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kabbee | welcome</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <header>
       <div class="container">
           <div id="branding"></div>
             <h1><span class="highlight">Kabbee</span> team</h1>
       <nav>
          <ul>
            <li class="current"><a href="log in.html">LOG OUT</a></li>
            <li> <a href="About.html">ABOUT</a></li>
            <li> <a href="members.html">MEMBERS</a></li>
            <li> <a href="resgister.html">REGISTER</a></li>
            <li> <a href="contact.html"> CONTAC</a></li>
          </ul>
        </nav>
      </div>   
    </header>
    <section id="img">
      <img src="../assests/kabbee3.jpg" alt="sampl" width="100%">
     
        <footer>
            <p>GK web Deising, Copyrite &copy;2017 </p>
        </footer>
    </section>
  </body>
</html>